<nav class="climb_nav">
    <ul class="container text-center">
      <li class="col-xs-4"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
      <li class="col-xs-4"><a href="/climb/new"><i class="glyphicon glyphicon-plus"></i></a></li>
    	<li class="col-xs-4"><a href="/auth/profile"><i class="glyphicon glyphicon-user"></i></a></li>
    </ul>
</nav>
