<%include partials/nav%>
<main class="eee container text-center about">
        <h2>A database of climbs for the Crux Climbing Center spray wall</h2>
        <hr>
        <img src="img/area-view.jpg" id="banner" alt="banner">
        <hr>
        <div>The spray wall uses a similar grading circuit to the rest of Crux:</div>
        <div style="display: inline-block; margin-bottom: 40px">
            <div style="text-align: left"><span style="color: #3b3c97; background: #3b3c97">O</span> = V4 and below</div>
            <div style="text-align: left"><span style="color: #d3463a; background: #d3463a">O</span> = V5 to V6</div>
            <div style="text-align: left"><span style="color: #c69f3f; background: #c69f3f">O</span> = V7 to V8</div>
            <div style="text-align: left"><span style="color: #335b34; background: #335b34">O</span> = V9 to V10</div>
            <div style="text-align: left"><span style="color: #3a8d7c; background: #3a8d7c">O</span> = V11 and up</div>
        </div>
        <div>Questions/Comments, please contact <span><a class="eee" href="mailto:kram115@gmail.com">kram115@gmail.com</a>.</span></div>
    </main>


<%include partials/footer%>
