<%include partials/nav%>
<main class="text-center">

<h1 class="eee">An Error Occurred</h1>
<img class="jimbo" src="https://68.media.tumblr.com/fbbd8479194efd214f35fd5e717e1137/tumblr_nm09j7OTqW1rqos73o1_500.gif" alt="Jimbo">
</main>
